/*------------------------------------------------------- Untuk Tablet -----------------------------------------------------*/
@media(max-width: 1170px) {
  /*------------- HEADER -------------*/
    top-wrapper h1 {
        font-size: 32px;
    }
    
    .menu-icon{
        display:none;
      }
      .top-wrapper {
        background-image: none;
      }
      .top-wrapper h1 {
        text-align: center;
      }
      .top-wrapper h2 {
        text-align: center;
      }
      .top-wrapper p{
        text-align: center;
      }
      .btn {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
/*------------- HEADER -------------*/

  /*--------------- CONTENT--------------- */
        .lesson {
          width: 50%;
          margin-bottom: 50px;
        }
  /*--------------- CONTENT--------------- */

  /*--------------- Fitur--------------- */
  @media screen and (max-width: 1000px) {
    .fitur-list,
    .fitur-icon {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
  /*--------------- Fitur--------------- */

  /*--------------Testimonial--------------*/
        .testimonial {
          width: 50%;
          margin-bottom: 50px;
        }
  /*--------------Testimonial--------------*/

  /*--------------- footer--------------- */
        .footer-menu {
          float:left;
          width: 100%;
          padding-left: 25px;
      }

      .message-footer {
          height :100px;
      }

      .logo-footer {
          width:100%;
          padding-left: 25px;
      }

  /*--------------- footer--------------- */
}
  
  /* -------------------------------------------Untuk Smartphone *--------------------------------------------*/
  @media(max-width: 670px) {
 /*------------- HEADER -------------*/
      .btn {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      
      .top-wrapper {
        background-image: none;
        margin-top: -20%;
      }
      .top-wrapper h1 {
        text-align: center;
      }
      .top-wrapper h2 {
        text-align: center;
      }
      .top-wrapper p{
        text-align: center;
      }

      .header-right{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 26px;
        z-index: 1;
      }
      .dropdown:hover .header-right {
        display: block;
        margin-top: 70px;
      }
      .menu-icon{
        display:block;
      }
      
      .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
      }
      
      .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
      }
      .fa{
        position: relative;
        display: inline-block;
      }
/*------------- HEADER -------------*/

  /*--------------- CONTENT--------------- */
      .lesson {
        width: 100%;
      }  
  /*--------------- CONTENT--------------- */
  
  /*--------------- Fitur--------------- */
  /*--------------- Fitur--------------- */

  /*--------------Testimonial--------------*/
      .testimonial {
        width: 100%;
        margin-bottom: 50px;
      }   
  /*--------------Testimonial--------------*/
  
  /*--------------- footer--------------- */
        .logo-footer h2 {
          font-size: 24px;
      }

      .message-wrapper {
          width: 100%;
          margin-bottom:10px
          
      }

      .message-wrapper h2 {
          font-size: 28px;
      }

      .message-wrapper h3 {
          font-size: 20px;
      }
  /*--------------- footer--------------- */
}
