/* Untuk Tablet */
@media(max-width: 1000px) {
/*------------- HEADER -------------*/
    top-wrapper h1 {
        font-size: 32px;
    }
    
    .menu-icon{
        display:none;
      }

/*------------- HEADER -------------*/
}

/* Untuk Smartphone */
@media(max-width: 670px) {
/*------------- HEADER -------------*/
    .btn {
        width: 100%;
      }
      
      .signup {
        margin-bottom: 10px;
      }
      
      .top-wrapper {
        text-align: left;
      }
      
      .header-right{
        display:none;
      }
      
      .menu-icon{
        display:block;
      }
      
      .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
      }
      
      .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
      }
      .fa{
          display:block;
      }
/*------------- HEADER -------------*/
}

/*------------- CONTENT -------------*/
.lesson {
    float: left;
    padding: 0 15px;
}
  
  img {
    width: 25px;
    height: 25px;
  }
  
  p {
    font-size: 18px;
  }
/*------------- CONTENT -------------*/

/*--------------Testimonial--------------*/

/* Untuk Tablets */
@media (max-width: 1000px) {
    .testimonial {
      width: 50%;
      margin-bottom: 50px;
    }
  }
/* Untuk Smartphone */
@media(max-width: 670px) {
  .testimonial {
      width: 100%;
      margin-bottom: 50px;
    }   
}
/*--------------Testimonial--------------*/

/*--------------- footer--------------- */
@media(max-width: 1000px) {
    .footer-menu {
        float:left;
        width: 100%;
        padding-left: 25px;
    }

    .message-footer {
        height :100px;
    }

    .logo-footer {
        width:100%;
        padding-left: 25px;
    }

}

@media(max-width: 670px) {
    .logo-footer h2 {
        font-size: 24px;
    }

    .message-wrapper {
        width: 100%;
        margin-bottom:10px
        
    }

    .message-wrapper h2 {
        font-size: 28px;
    }

    .message-wrapper h3 {
        font-size: 20px;
    }

}
/*--------------- footer--------------- */
