/* Untuk Tablet */
@media(max-width: 1000px) {
/*------------- HEADER -------------*/
    top-wrapper h1 {
        font-size: 32px;
    }
    
    .menu-icon{
        display:none;
      }

/*------------- HEADER -------------*/
}

/* Untuk Smartphone */
@media(max-width: 670px) {
/*------------- HEADER -------------*/
    .btn {
        width: 100%;
      }
      
      .facebook {
        margin-bottom: 10px;
      }
      
      .top-wrapper {
        text-align: left;
      }
      
      /* Tambahkan CSS untuk header-right */
      .header-right{
        display:none;
      }
      
      /* Tambahkan CSS untuk menu-icon */
      .menu-icon{
        display:block;
      }
      
      .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
      }
      
      .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
      }
      .fa{
          display:block;
      }
/*------------- HEADER -------------*/
}
