* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;

  }
  
  a {
    text-decoration: none;
  }
  
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/*--------------- HEADER --------------- */
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://www.ecodu.id/img/banner_img.gif);
    background-repeat: no-repeat;
    background-size: 800px auto;
    background-position: right;
    color:#0c2e60 ;
    
}

.top-wrapper h1 {
    /* opacity: 0.7; */
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: -20px;
    text-align: left;
}

.top-wrapper p  {
    /* opacity: 0.7; */
    margin-bottom: 3px;
    text-align: left;
}

.top-wrapper h2  {
    /* opacity: 0.7; */
    text-align: left;
}

.btn-wrapper {
    text-align: left;
    margin: 20px 0;
}



.signup {
    background-image:linear-gradient( 90deg ,rgba(52,68,122,1) , rgba(12,170,179,1) );
    font-weight: bold;
    color: white;
}

.masuk{    
    background-color: white;
    font-weight: bold;
    color:  #0c2e60;
    border: solid 0.7px #0c2e60;
}

.btn {
    padding: 12px 24px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 50px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 5px;
    display:none;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 5px 8px 2px rgb(190, 190, 190);
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #0c2e60;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(92, 92, 92, 0.3);
}

.menu-icon {
    color:#0c2e60;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display:none;
}
/*--------------- HEADER --------------- */
/*--------------- content --------------- */
.lesson-wrapper {
    padding: 80px 10px;
    background-color: #f7f7f7;
    text-align: center;
    margin-bottom: 150px;
  }

.lesson {
    float: right;
    width: 30%;
}

.lesson p {
    color: #0c2e60;
}

.lesson img {
    width: 125px;
    height: 125px;
}
/*--------------- content --------------- */
/*--------------Testimonial--------------*/
.testimonial-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
    margin: 100px 0px;
  }
  .testimonial {
    float: left;
    width: 25%;
}
.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}
.testimonial-icon {
    position: relative;
}
.testimonial-icon img{
    position: relative;
    max-width:100px;
    height:auto;
}
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}
.clear {
    clear: left;
}

/*--------------Testimonial--------------*/

/*--------------- FOOTER --------------- */
body {
    margin: 0;
    
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.message-wrapper {
    background-color: #007bff;
    
    text-align: center;
    
}

.message-wrapper h2 {
    font-size: 32px;
    padding-top: 32px;
    color: white;
}

.message-wrapper h3 {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 15px;
    color: white;
}



.button {
    display: inline-block;
    margin-bottom: 32px;
}

.join {
    background-color: #0c2e60;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid white;
    font-size: 24px;
    color: white;
    box-shadow: 0 5px #B8860B;
}

.join:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}

.logo-footer {
    float: left;
}

.footer-menu {
    float: right;
    padding-right: 100px;
    
    
}



.foot-menu {
    color: #0c2e60;
}

.message-footer {
   margin-bottom: 300px;
    color: #0c2e60;
}

.logo-footer {
    padding-left:100px ;
    width: 500px;
}

.logo-footer p {
    line-height: 25px;
}

.logo-footer h2 {
    font-size: 32px;
    padding-bottom: 10px;
}
.copyright {
    text-align: center;
    border-top: 2px solid #D3D3D3;
    padding-top: 5px;
    color: darkgray;   
}

/*--------------- FOOTER --------------- */

